.featured-image img {
  width: 170px;
  height: 160px;
  object-fit: fill;
  border-radius: 20px 0 20px 0;
}
.featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.hero {
  border-radius: 10px;
  padding: 10px;
}
.featured-button button {
  outline: none;
  border: none;
  background-color: #1a5d1a;
  color: #fff;
  border-radius: 5px;
}
.featur-heading h1 {
  color: #06d001;
  font-weight: 500;
}

.featured-category span {
  background-color: #ffeb00;
  width: 30px;
  height: 20px;
  border-radius: 5px;
  font-size: 13px;
  color: #fff;
  margin: 0;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fatured-price p {
  color: #06d001;
  font-weight: 700;
}
